#add-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addcomment-container{
   display: flex;
   padding: 5px;
   margin: 5px 10px;
   background-color: #fff;
   width: 98%;
   align-items: center;
   justify-content: space-evenly;
}

#user-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 2px;
    border: 2px rgb(120, 192, 235) solid;
    border-radius: 5px;
    color: rebeccapurple;
    font-size: xx-large;
}

#input{
    padding: 5px;
    font-size: medium;
    height: 50px;
    width: 80%;
    border-radius: 5px;
    resize: none;
}

button{
    margin: 5px 10px 5px 5px;
    padding: 5px;
    color: rebeccapurple;
    border-radius: 5px;
    background: lightblue;
}

button:hover{
    color: white;
    background-color: lightseagreen;
}

img{
    width: 50px;
}

#error{
    background-color: rgb(235, 125, 125);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    width: fit-content;
}

#success{
    background-color: rgb(70, 180, 116);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    width: fit-content;
}



