<div id="add-container">

    <div id="addcomment-container">
            <textarea 
                type="text"
                name="comment" 
                id="input" 
                placeholder="Please write your comment here" 
                (change) ="getValue($event)"
                #textInputField></textarea>
    
            <button (click) = "getComment(textInputField)">Comment</button>
    
    </div>

    <div *ngIf="commentStatus && commentStatus.exception === 'Error'" id="error">

        <img src="../../../../../assets/images/blog/errorIcon.png">

        <div id="error-message">
            {{ commentStatus.message }}
        </div>

    </div>

    <div *ngIf="commentStatus && commentStatus.exception !== 'Error'" id="success">

        <div class="logoImage">
            <img src="../../../../../assets/images/blog/successIcon.png">
        </div>

        <div id="success-message">
            {{ commentStatus.message }}
        </div>

    </div>
</div>
