<div id="container">
    <div id="titleContainer">
        <div id="title">Steam Bot Interface</div>
        <div id="subTitle">
            This page serves as an interface for the <a href="">Steam Bot</a>.
        </div>
    </div>
    <!--When User is Not Logged In-->
    <div *ngIf="!authenticated">
        Please Login to Continue.
    </div>

    <!--When the User Is Logged In-->
    <div *ngIf="authenticated">
        <mat-tab-group>
            <mat-tab label="Items for Trade"><app-tradeitems></app-tradeitems></mat-tab>
            <mat-tab label="Add Items to Trade"><app-additem></app-additem></mat-tab>
            <!-- <mat-tab label="Trades Done"><app-trades></app-trades></mat-tab>
            <mat-tab label="Inventory"><app-inventory></app-inventory></mat-tab> -->
          </mat-tab-group>
    </div>
</div>