<div id="container">
    <div id="titleContainer">
        <div id="title">Steam Bot Interface</div>
        <div id="subTitle">
            This page serves as an interface For the steam bot that I have created.
        </div>
    </div>
    <!--When User is Not Logged In-->
    <div *ngIf="!authenticated">
        Please Login to Continue.
    </div>

    <!--When the User Is Logged In-->
    <div *ngIf="authenticated">
        <mat-tab-group>
            <mat-tab label="First"> Content 1 </mat-tab>
            <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
          </mat-tab-group>
        <router-outlet></router-outlet>
    </div>
</div>