#container{
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 5px;
    align-items: center;
    /* justify-items: center; */
}

#titleContainer{
    display: flex;
    flex-direction: column;
    align-items : center;
    padding : 5px 5px;
}

#title{
    color: darkcyan;
    font-size: x-large;
    padding: 10px;
}