<div id="container">

  <div *ngIf="isMobileScreen" class="nav-links">
    <img src="assets/images/nav.png" (click)="toggleNavBar = !toggleNavBar">
  </div>

  <div id="nav-title">
    <img src="assets/images/navicon.ico">
    <a routerLink="" id="blog">
      <div>ADWAIT</div>
    </a>
  </div>

  <div class="nav-links" *ngIf="!isMobileScreen">
    <a routerLink="/blog" class="nav-link">Notes<span></span></a>
    <a href="https://github.com/Adwai-T/Notes" class="nav-link" target="_blank">GitNotes<span></span></a>
    <a routerLink="/questions/quiz" class="nav-link">Quiz<span></span></a>
    <a routerLink="/games" class="nav-link">Games<span></span></a>
    <a routerLink="/steam" class="nav-link">SteamTrade<span></span></a>
  </div>

  <div id="nav-right" *ngIf="!toggleNavBar">
    <a routerLink="/user/profile" class="nav-link" *ngIf="isAuth">{{ subject }}<span></span></a>
    <a (click)="onSignOut()" class="nav-link" *ngIf="isAuth">SignOut<span></span></a>
    <a routerLink="/user/signin" class="nav-link" *ngIf="!isAuth">SignIn<span></span></a>
    <a routerLink="/user/signup" class="nav-link" *ngIf="!isAuth">SignUp<span></span></a>
  </div>

  <div id="sideNavLinks" *ngIf="toggleNavBar">
    <a routerLink="/blog" class="nav-link" (click)="toggleNavBar = !toggleNavBar">Notes</a>
    <a href="https://github.com/Adwai-T/Notes" class="nav-link" target="_blank" (click)="toggleNavBar = !toggleNavBar">GitNotes</a>
    <a routerLink="/questions/quiz" class="nav-link" (click)="toggleNavBar = !toggleNavBar">Quiz</a>
    <a routerLink="/games" class="nav-link" (click)="toggleNavBar = !toggleNavBar">Games</a>
    <a routerLink="/steam" class="nav-link" (click)="toggleNavBar = !toggleNavBar">SteamTrade</a>
  </div>
</div>
