.container-tile{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding :10px;
  margin: 2px;
  border-radius: 10px;
}

.container-tile:hover{
  /* box-shadow: 11px 11px 8px 1px rgba(193,208,227,1); */
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

img{
  max-width: 100%;
}

#title-tile{
  font-size: 19px;
  text-align: center;
  color: darksalmon;
}

#description-tile{
  text-align: center;
}

@media screen and (min-width: 600px) {

}