.container-tile{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding : 2px;
  border-radius: 10px;
  background-color: rgb(255, 221, 248, 0.3);
  margin: 4px;
}

.container-tile:hover{
  transform: scale(1.1);
  box-shadow: 11px 11px 8px 1px rgba(193,208,227,1);
  background-color: #ffffff;
}

img{
  max-width: 100%;
}

#title-tile{
  font-size: 19px;
  text-align: center;
  color: darksalmon;
}

#description-tile{
  text-align: center;
}
