.container-tile{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding : 2px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 3px;
}

.container-tile:hover{
  transform: scale(1.1);
  box-shadow: 11px 11px 8px 1px rgba(193,208,227,1);
}

img{
  max-width: 100%;
}

#title-tile{
  font-size: 22px;
}

#description-tile{
  text-align: center;
}
