<div class="blog-container">

    <H2>
        Git and Github
    </H2>

    <h3>
        Basic Git commands
    </h3>
    <ul>
        <li><code>git init</code> : Initialize a git repository in the folder that it is called from..</li>
        <li><code>git status</code> : Get the status of repositroy, which files are tracked, which are added and if the
            repo is up to date..</li>
        <li><code>git add filename or git add .</code> : To add All files to be tracked, except for those added to
            .gitignore file.</li>
        <li><code>git commit -m "message" </code> : -m is for adding message for the commit.</li>
        <li><code>git commit -am "message"</code> : -a adds all the tracked file and hence can skip the `git add` if no
            new files have to be added to tracked files..</li>
        <li><code>git remote</code> : Check all the remote repositories set for your project. For example if you deploy
            a project that might be a remote(like heroku) and the other can be github..</li>
        <li><code>git update-git-for-windows</code> : Update to the lates version of git from windows when git is
            already installed.</li>
    </ul>
</div>