<div id="question-container" [ngClass]="{ disabled : disabled}" *ngIf="question">

    <div id="question-body">
        <div id="title-container">
            <div id="title">
                {{ question.title }}
            </div>
            <div id="topic">
                {{ question.topic | uppercase }}
            </div>
        </div>

        <div id="description">
            {{index+1}} {{ question.question }}
        </div>

        <div id="answers">
            <div
                *ngFor="let answer of question.answers; index as i"
                (click)="getSelectedAnswer(answer)"
                class="answer"
                [ngClass]="{'selected': answer === selectedAnswer}"
                >
                {{i+1}}. {{ answer }}
            </div>
        </div>

        <div id="answer-description-toggle" (click)="getSelectedAnswer('NotSelected')">
            Show Answer
            <img src="../../../../assets/images/questions/arrow-down.png">
        </div>
    </div>

    <div id="answer-box" [hidden]="answerDescriptionActive">
        
        <div [ngClass]="wasAnswerCorrect ? 'answer-correct' : 'answer-wrong'">
            Write answer is Option : {{ question.answer }}
        </div>

        <div id="answer-description">
            <b>Description</b> : {{question.answerDescription}}
        </div>
    </div>
</div>