#question-container{
    display:flex;
    flex-direction: column;
    justify-content: center;  
    margin: 10px auto 5px auto;
    border-radius: 15px;
    padding: 5px 30px;
    background-color: #fff;
    border: 1px solid lightcoral;
}

#question-body{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#title-container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#title{
    font-size: large;
    color: maroon;
}

#topic{
   font-size: small;
   color: lightgrey;
}

#description{
    padding: 10px;
}

#answers{
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
}

.answer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: teal;
    padding: 8px;
    border-radius: 10px;
    margin: 0px 8px;
    flex-wrap: wrap;
    cursor: pointer;
}

#answer-description-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    color: white;
    cursor: pointer;
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
    width: 50%;
    align-self: center;
}

img{
    width: 18px;
    padding: 0px 10px;
}

#answer-box{
    padding: 10px;
    color: darkgreen;
}

.selected{
    background-color: teal;
    color: white;
}

.answer-correct{
    background-color: rgb(152, 207, 176);
    color: white;
    padding: 20px;
    border-radius: 10px;
    align-self: center;
    width: fit-content;
}

.answer-wrong{
    background-color: rgb(241, 159, 129);
    color: white;
    padding: 20px;
    border-radius: 10px;
    align-self: center;
    width: fit-content;
}

#answer-description{
    margin-top: 10px;
    padding: 10px, 0px;
}