/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

/* *{
  
  font-family: 'Archivo', sans-serif;
} */

*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body{
  background : linear-gradient(to right, #34ebb4, #3ebad6);
  height: fit-content;
  width: 100vw;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

a:visited{
  color: initial;
  text-decoration: none;
}

.form-control{
  padding: 5px;
}

.line-divide-light{
  width: 100%;
  height: 0px;
  border: 1px solid rgb(226, 214, 225);
  margin : 5px auto;
}

.line-divide-sea{
  width: 100%;
  height: 0px;
  border: 1px solid rgb(168, 207, 205);
  margin : 5px auto;
}

.blog-container{
  background-color: #fff;
  padding: 10px 20px;
  border: 8px;
  margin-top: 5px;
}

ul{
  list-style-type: none;
}

li{
  margin: 18px 0px;
}

.disabled{
  pointer-events: none;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Externally loaded pages code */
.content_page{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95vw;
  background-color: white;;
  padding : 10px 5vw;
}

.content_page h1{
  align-self: center;
  color:darkorange;
}

.content_page h2{
  color: darkcyan;
}

.content_page .hljs-keyword{
  font-weight: 400;
  color:#ff79c6;
}

.content_page .hljs-comment{
  color: #6272a4;
}

.content_page .hljs-title{
  color: #8be9fd;
}

.content_page .hljs-type{
  color : #bd93f9;
}

.content_page .hljs-meta{
 color : #ffb86c;
}

.content_page .hljs-built_in{
  color : #50fa7b;
}

.content_page pre{
  padding: 5px;
  border-radius: 2px;
  color: #f8f8f2;
  width: 95%;
  background-color: #282a36;
  overflow-x: auto;
  white-space: pre-wrap;
}

.content_page pre code{
  color: #f8f8f2;
}

.content_page code{
  color : #ff5555;
}
