<div>
  <mat-card
    class="card"
    (click)="selected = !selected"
  >
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
      <mat-card-subtitle>{{ item.market_name }}</mat-card-subtitle>
    </mat-card-header>
    <img class="item_image" [src]="item.image_source" [alt]="item.name" />
    <mat-card-content>
      <mat-chip-list class="list">
        <div *ngIf="selected">
          <mat-chip *ngFor="let property of keys">{{ property }}</mat-chip>
        </div>
        <div>
          <mat-chip color="primary" selected
            >Buying At : {{ item.BuyAt }}</mat-chip
          >
          <mat-chip color="accent" selected
            >Selling At : {{ item.SellAt }}</mat-chip
          >
        </div>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>