*{
    padding : 5px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 95%;
    min-width: 360px;
}

#description{
    color: grey;
    align-self: flex-start;
}

#github{
    text-decoration: none;
    color: darkcyan;
    font-size: larger;
}

a{
    text-decoration: none;
    color: darkcyan;
}

#game{
    width: 805px;
    height: 605px;
}