<div id="blog-container">
  <div class="tile-container">
    <div *ngFor="let topic of topics">
      <app-notes-tiles 
        [tileTitle] = "topic.topic"
        (click) = "setActiveTopic(topic.topic)"
        [imgSrc] = "topic.imageSrc">
      </app-notes-tiles>
    </div>
  </div>

  <div class="options-window" *ngIf="subTopics.length > 0">
    <div *ngFor="let subTopic of subTopics">
      <a [routerLink]="subTopic.linkToComponent" (click)="setSubTopicActive(subTopic)">
        <app-notes-tiles [tileTitle]="subTopic.title" [imgSrc]="subTopic.imageSrc">
        </app-notes-tiles>
      </a>
    </div>
  </div>

  <router-outlet *ngIf="contentFromComponents && !contentFromFile"></router-outlet>

  <div id="content-fromfiles" *ngIf="contentFromFile && !contentFromComponents && contentReady">
    <!--<div class="code"><pre>{{ contentPage }}</pre></div>-->
    <div class="content_page" [innerHTML] = "contentPage" ></div>
  </div>

  <div *ngIf="activeSubTopicSubscription">
    <app-comments [activeTopicSubscription]=activeSubTopicSubscription></app-comments>
  </div>

</div>