#blog-container{
    display: flex;
    flex-direction: column;
}

#index{
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 8px;
}

#tile-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin-bottom: 8px;
    border-radius: 10px;
}

.options-window{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 10px;
}

h2{
    color: coral;
}

a{
    text-decoration: none;
}

