#blog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding : 5px;
}

.tile-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 750px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.options-window{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

h2{
    color: coral;
}

a{
    text-decoration: none;
}
  

