 <div>

  <nav class="navbar navbar-light navbar-expand fixed-top">
    <div class="container-fluid">

      <div class="navbar-brand navbar-nav">
        <a routerLink="#"><img src="../../../assets/images/wolf-153648.svg" class="d-inline-block align-top icon"></a>
        <a routerLink="#" id="blog">Blog</a>
      </div>

      <div class="navbar-nav navLinks">
        <a class="nav-link" routerLink="#">Active</a>
        <a class="nav-link" routerLink="#">Link</a>
        <a class="nav-link" routerLink="#">Link</a>
        <a class="nav-link" routerLink="#">Link</a>
        <a class="nav-link" routerLink="#">Link</a>
        <a class="nav-link" routerLink="#">Link</a>
      </div>

      <div class="navbar-nav navbar-right">
        <a class="nav-link">SignIn</a>
        <a class="nav-link text-right" routerLink="#">SignOut</a>
      </div>

  </div>

  </nav>

</div>
