*{
  font-family:  Arial, Helvetica, sans-serif;
  color: #0e588c;
  text-decoration: none;
}

#container{
  display: flex;
  background-color: aliceblue;
  align-items: center;
  flex-wrap: no-wrap;
  position: fixed;
  width: 100%;
  top: 0;
}

#logo{
  width: 50px;
  height: auto;
}

#nav-title{
  display: flex;
  align-items: center;
  padding: 8px;
  margin-right: 4px;
  font-size: 21px;
}

#nav-title:hover{
  cursor: pointer;
  transform: scale3d(1.1,1.1,1.1);
}

.nav-link{
  font-size: 18px;
  padding-left: 6px;
  padding-right: 6px;
}

.nav-link:hover{
  color: #0000b3;
  font-size: 20px;
}

#nav-right{
  padding-right: 8px;
  margin-left: auto;
}

